<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="error.css" />
  </head>
  <body>
    <div class="error_container">
      <div class="digits_container">
        <iconify-icon icon="uil:sad-dizzy" class="error_icons"></iconify-icon>
        <iconify-icon icon="bx:dizzy" class="error_icons"></iconify-icon>
        <iconify-icon icon="mdi:alpha-p" class="error_icons"></iconify-icon>
        <iconify-icon icon="mdi:size-s" class="error_icons"></iconify-icon>
        <ion-icon name="alert-outline" class="error_icons"></ion-icon>
      </div>
      <div class="error_number_container">
        <iconify-icon
          icon="tabler:error-404"
          class="error_icons"
        ></iconify-icon>
      </div>
      <div class="face_container">
        <a href="https://htw-myportfolio.herokuapp.com/" title="mon portfolio"
          ><iconify-icon
            icon="ic:outline-log-out"
            class="home_icons"
          ></iconify-icon>
          <p class="home_text">mon portfolio</p></a
        >
      </div>
    </div>

    <!-- iconify icon usage -->
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <!-- ionicon icon usage -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
